<!DOCTYPE html>
<html>
    <head>
    <!--titulo-->
      <title>Dra Nose Comosellame</title>
    <!-- referencias para las fonts tomadas desde google fonts -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300' rel='stylesheet' type='text/css'>
    <!-- bootstrap stylesheets css -->
		  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
		  <link rel="stylesheet" href="css/bootstrap.min.css">
		  <link rel="stylesheet" href="css/bootstrap.css">
		  <link rel="stylesheet" href="css/main.css">
		<!-- scripting -->
		  <script src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		  <script src="js/main.js"></script>
    </head>
    <body>
      <nav id="navbar" class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <h3 id="docTitle"> Dra Nose Comosellame <i class="fa fa-eye"></i> </h3>
          </div>
          <div class="container-fluid">
            <ul>
              <button id="btnHome" type="button" class="btn btn-custom navbar-btn btn pull-right"><p>Home</p> <i id="icoHome" class="fa fa-home fa-2x"></i></button>
              <button id="btnInfo" type="button" class="btn btn-custom navbar-btn btn pull-right"><p>About Us</p> <i id="icoAbout" class="fa fa-info fa-2x"></i></button>
              <button id="btnAppointments" type="button" class="btn btn-custom navbar-btn btn pull-right"><p>Appointments</p> <i id="icoAppointments" class="fa fa-calendar fa-2x"></i></button>
            </ul>
          </div>
        </div>
      </nav>

      <div class="jumbotron" id="jumboHome">
        <h1 class="display-3" id="jumboTitle">
          Dra Nose Comosellame
        </h1>
        <p class="lead" id="jumboLead">
          Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars.
        </p>
      </div>

      <div class="container" id="containerInfo">
        <div class="row">
          <div class="col-md-4">
            <img src="img/medkit.png">
            <h2 class="infoTitle">
              Dr. Zoidberg, that doesn't make sense. But, okay!
            </h2>
            <hr class="m-y-2">
            <p>
              Actually, that's still true. Kif, I have mated with a woman. Inform the men.
              <br></br>
              Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? It doesn't look so shiny to me. Leela's gonna kill me.
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/hospital.png">
            <h2 class="infoTitle">
              You're going to do his laundry?
            </h2>
            <hr class="m-y-2">
            <p>
              Soothe us with sweet lies. Wow, you got that off the Internet? In my day, the Internet was only used to download pornography.
              <br></br>
              Is today's hectic lifestyle making you tense and impatient? Bender, hurry! This fuel's expensive! Also, we're dying!
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/eye-icon.png">
            <h2 class="infoTitle">
              Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar.
            </h2>
            <hr class="m-y-2">
            <p>
              What kind of a father would I be if I said no? Spare me your space age technobabble, Attila the Hun!<br></br>When I was first asked to make a film about my nephew, Hubert Farnsworth.
            </p>
          </div>
        </div>
      </div>

      <hr class="m-y-2">

      <div class="container" id="containerAboutUs">
        <div class="row" id="rowAboutUsTitle">
          <div class="col-md-12">
            <h1 id="titleAboutUs">About Dra Nose Comosellame</h1>
          </div>
        </div>
        <div class="row" id="rowAboutUsInfo">
          <div class="col-md-6" id="colAboutUsInfo">
            <p>
              No, of course not. It was... uh... porno. Yeah, that's it. Who are those horrible orange men? Would you censor the Venus de Venus just because you can see her spewers? You guys go on without me! I'm going to go,... look for more stuff to steal!
              <br></br>
              Hey, guess what you're accessories to.
              <br></br>
              Stop! Don't shoot fire stick in space canoe! Cause explosive decompression! Wow, you got that off the Internet? In my day, the Internet was only used to download pornography. Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.
              <br></br>
              And when we woke up, we had these bodies. Fry, you can't just sit here in the dark listening to classical music. Tell them I hate them. Yeah. Give a little credit to our public schools. Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence.
              <br></br>
              Good news, everyone! I've taught the toaster to feel love! Do a flip! Do a flip! For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. Ooh, name it after me!
            </p>
          </div>
          <div class="col-md-6" id="colAboutUsPhoto">
            <div class="container-fluid" id="containerImgAboutUs">
              <img id="imgAboutUs" src="img/doctorPortrait.jpg">
            </div>

            <hr class="m-y-3">

            <div class="container-fluid" id="containerCarousel">
              <div class='row'>
                <div class='col-md-8'>
                  <div class="carousel slide media-carousel" id="media">
                    <div class="carousel-inner">
                      <div class="item  active">
                        <div class="row">
                          <div class="col-md-4">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/200x200"></a>
                          </div>
                          <div class="col-md-4">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/200x200"></a>
                          </div>
                          <div class="col-md-4">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/200x200"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a data-slide="prev" href="#media" class="left carousel-control"> < </a>
                    <a data-slide="next" href="#media" class="right carousel-control"> > </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="m-y-2">

      <div id="containerAppointments" class="container">
        <h1 id="titleAppointments">Schedule an Appointment:</h1>
        <br></br>
        <div id="containerCalendar" class="container-fluid">
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker1'>
                          <input type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
              <div class="col-sm-6">
                <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
              </div>
          </div>
        </div>
      </div>

      <hr class="m-y-2">

      <div id="containerFollowUs" class="container">
        <h1 id="titleFollowUs">Follow me on:</h1>
        <br></br>
        <div class="container-fluid" id="containerSocialNetworks">
          <div class="col-md-12">
            <ul id="listSocialNetworks" class="social-network social-circle">
              <li><a href="#" class="icoYouTube" title="YouTube"><i class="fa fa-youtube-play"></i></a></li>
              <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="icoSkype" title="Skype"><i class="fa fa-skype"></i></a></li>
              <li><a href="#" class="icoEnvelope" title="Instagram"><i class="fa fa-envelope"></i></a></li>
            </ul>
  				</div>
        </div>
      </div>
    </body>
</html>
